---
sudo: required
dist: trusty

language: generic

before_install:
  - sudo apt -qq update
  - sudo apt install -y software-properties-common python-apt python-pycurl
  - sudo apt-add-repository -y ppa:ansible/ansible

install:
  # Install ansible
  - sudo apt install -y ansible

  # Check ansible version
  - ansible --version

before_script:
  - cd ../

script:
  # Basic role syntax check
  - ansible-playbook ansible-role-suricata/tests/test.yml -i ansible-role-suricata/tests/inventory --syntax-check

  # Run the role/playbook with ansible-playbook
  - ansible-playbook ansible-role-suricata/tests/test.yml -i ansible-role-suricata/tests/inventory --become

  # Run the role/playbook again, checking to make sure it's idempotent
  - >
    ansible-playbook ansible-role-suricata/tests/test.yml -i ansible-role-suricata/tests/inventory --become
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)
  # Playbook specific tests
  - >
    suricata -V
    | grep -q '^This is Suricata version'
    && (echo 'Verify that suricata package is installed: pass' && exit 0)
    || (echo 'Verify that suricata package is installed: fail' && exit 1)
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
